---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="/" class="gpt-title">吾爱开心</a>
    <a href="/" class="gpt-subtitle">Gemini Chat</a>
  </div>
  <p mt-1 op-60>
    本网站基于Gemini Pro的
    <a href="https://blog.geminiprochat.com/posts/what-is-gemini">API</a> 构建而成。
  </p>
  <script crossorigin="anonymous" src="http://10.72.20.157:6752/page-spy/index.min.js"></script>
  <script>
    window.$pageSpy = new PageSpy()
  </script>
</header>
